In [8]:
import numpy as np 
import pandas as pd

In [9]:
path_to_data = '/Users/enzo-macmini/PythonProjects/JMP/FoxBajari_Data/data/'

In [10]:
df_air_travel = pd.read_csv(path_to_data + 'air-travel-passengers-bta-year-1994.csv')

df_air_travel.shape

(492, 493)

In [11]:
# travel data
df_travel_survery = pd.read_csv(path_to_data + 'american-travel-survey-1995-zero.csv')
df_travel_survery.shape

(492, 493)

In [12]:
btamatrix_merged = pd.read_csv(path_to_data + 'btamatrix_merged.csv')
btamatrix_merged.shape

(492, 494)

In [13]:
geo_distance = pd.read_csv(path_to_data + 'geographic-distance-population-weighted-centroid.csv')
geo_distance.shape

(492, 493)

In [14]:
bta_data = pd.read_csv(path_to_data + 'btadata_2004_03_12_1.csv')
bta_data

,bta,market,bid,winner,bidder_num_fox,pop90,percapin,hhinc35k,density,imwl
0,1,Aberdeen,411666.0,MCG,202,88891.0,14926.000,0.405000,7.536484,9
1,2,Aberdeen,471750.0,CookWest,184,83057.0,16374.000,0.433000,55.249180,3
2,3,"Abilene,",4024583.0,PokaLam,164,253174.0,15377.000,0.421000,54.129910,14
3,4,"Ada, OK",783000.0,OnQue,238,52677.0,12644.000,0.318000,32.020280,0
4,5,"Adrian,",701250.0,DCR,190,91476.0,16069.000,0.530000,256.705900,0
...,...,...,...,...,...,...,...,...,...,...
488,489,Mayaguez,29400000.0,PCS2000,182,1351600.0,3323.522,0.095447,1016.579000,0
489,490,Guam,1073250.0,DCR,190,133000.0,3345.715,0.095447,1504.793000,1
490,491,US Virgi,7797750.0,Windkeep,38,102000.0,3693.983,0.105383,1504.793000,1
491,492,American,411000.8,National,66,47000.0,3345.715,0.095447,1504.793000,0
492,493,Northern,422250.0,DCR,190,43000.0,3345.715,0.095447,1504.793000,0

In [15]:
bidder_data = pd.read_csv(path_to_data + 'biddercblk_03_28_2004_pln.csv')
bidder_data

,bidder_num_fox,bidder_num,co_name,pops_eligible
0,1,2000,"MLCS Industries II, Inc.",3.777778e+06
1,2,2001,"MLCS Industries, Inc.",4.222222e+05
2,3,2004,"Holland Wireless, L.L.C.",3.166330e+05
3,4,2005,"PerCommServ, Inc.",2.412161e+06
4,5,2006,E. Ritter Telephone Company,7.944667e+04
...,...,...,...,...
251,252,2376,"BRK WIRELESS CO., INC.",1.111111e+06
252,253,2377,"SJI, Inc.",2.582988e+06
253,254,2378,"Longstreet Communication International, Inc",5.706730e+05
254,255,2379,Shawn Capistrano,2.512578e+05
255,256,9999,FCC,NaN